---
title: Common Lisp Books
layout: default
css_file: books
permalink: /books/
description: Books about Common Lisp
---

<main class="books">
  {% include big-header.html text='Common Lisp Books' url='/assets/img/header/books.jpg' %}
  <ul>
    {% for book in site.data.books %}
    <li>
      <div class="cover">
        <img src="/assets/img/books/covers/{{ book.cover }}">
      </div>
      <main>
        <h2>{{ book.title }}</h2>
        <div class="metadata">
          <span class="author">{{ book.author }}</span>
        </div>
        <article>
          {{ book.description | markdownify }}
          {% if book.links %}
            <ul class="links">
              {% if book.links.amazon %}
                <li>
                  <a href="{{ book.links.amazon }}">
                    <img src="/assets/img/books/amazon.png">
                  </a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </article>
      </main>
    </li>
    {% endfor %}
  </ul>
</main>
