---
layout: default
css_file: landing
description: Common Lisp
---

<main class="landing">
  {% include big-header.html text='Common Lisp' url='/assets/img/header/landing.jpg' %}
  <section class="why">
    <h1>Why Common Lisp?</h1>
    <div class="reasons">
      {% for reason in site.data.landing.reasons %}
        <div class="reason">
          <h4>{{ reason.title }}</h4>
          {{ reason.desc | markdownify }}
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="start">
    <a href="/learn/">Start here</a>
  </section>
</main>
