/* Global style */

body {
  font-family: $text-font;
}

nav {
  background: $navbar-background;

  ul {
    li {
      text-transform: uppercase;
    }
  }
}

footer {
  background: $footer-background;
  height: 230px;
  color: $footer-text-color;

  a {
    color: $footer-link-color !important;
  }

  .copy {
    font-size: 0.8em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

a {
  text-decoration: none;

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-visited-color;
  }

  &:hover {
    color: $link-hover-color;
  }
}
