<footer>
  <div class="links">
    <ul>
      <h3>About</h3>
      <li><a href="/news/">News</a></li>
      <li><a href=""">Contribute</a></li>
      <li><a href="{{ site.links.repo }}">View on GitHub</a></li>
    </ul>
    <ul>
      <h3>Learn</h3>
      <li><a href="/learn/">Getting Started</a></li>
      <li><a href="">Tutorials</a></li>
      <li><a href="">Libraries</a></li>
    </ul>
    <ul>
      <h3>Language</h3>
      <li><a href="">Wiki</a></li>
      <li><a href="/spec/">Specification</a></li>
      <li><a href="/style-guide/">Style Guide</a></li>
    </ul>
    <ul>
      <h3>Community</h3>
      <li><a href="/community/#forums">Forums</a></li>
      <li><a href="/community/#social-media">Social Media</a></li>
      <li><a href="/community/#mailing-lists">Mailing Lists</a></li>
    </ul>
  </div>
  <div class="copy">
    {% include copy.html %}
    &mdash;
    Site design by <a href="http://eudoxia.me/">Fernando Borretti</a>
  </div>
</footer>
