/* Style for the landing page */

$lighter: rgba(66, 116, 201, 0.90); // #4274C9
$darker: rgba(45, 95, 180, 0.95); // #2D5FB4

main.landing {
    header {
        @include linear-gradient(bottom, $lighter, $darker);
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);

        .background {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;

            background-image: url(/assets/img/header/landing.jpg);
            background-size: cover;
            background-position: center;
            z-index: -10;
        }

        h1 {
            font-size: 72px;
            font-family: 'Lusitana', serif;
            font-weight: 400;
            margin-top: 0;
            color: $white;
        }
    }

    .why {

    }

    .start {
        height: 300px;
        background: $light-blue;

        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);

        a {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 72px;
            color: $white;

            text-decoration: none;
            padding: 10px 15px;

            position: relative;

            &:after {
                $underline-height: 1px;

                display: block;
                position: absolute;
                left: 0;
                bottom: -$underline-height;
                width: 0;
                height: $underline-height;
                background-color: $white;
                content: "";
                transition: width 0.2s;
            }

            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}
