/* Page style */

main.page {
    header {
        /* Header background images */

        &.community {
            background-image: url(/assets/img/header/community.jpg);
        }

        &.news {
            background-image: url(/assets/img/header/news.jpg);
        }
    }

    .content {
        width: 60%;
        margin: 100px auto;
    }
}
