/* General layout style */

/* Navbar style */

nav {
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  background: $navbar-background;

  .nav-content {
    @include on-desktop() {
      width: 70%;
      margin: 0 auto;
    }
    @include on-mobile() {
      width: 100%;
    }
  }

  .brand {
    float: left;
  }

  ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
  }
}

/* Link style */

a {
  &:link, &:visited, &:hover, &:active {
    color: #428BCA;
    text-decoration: none;
  }
}

/* Front page style */

body {
  color: $text-color;
  //font-family: 'Lusitana', serif;
  font-family: 'Source Sans Pro', sans-serif;
}

section {
  margin-bottom: 45px;

  h1 {
    text-align: center;
  }
}

footer {
  height: 180px;
  background: linear-gradient(to bottom, $footer-start-color, $footer-end-color);

  a, span {
    color: $footer-text-color !important;
  }
}
