/* A simple grid system */

// Global reset
*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin row() {
  @include clearfix;
  width: 100%;
}

@mixin column($width) {
  float: left;
  width: 100% / $column-count * $width;
}
