/* Home page style */

#hero-unit {
  height: 300px;
  text-align: center;

  .title {
    font-size: 46px;
    font-family: 'Lusitana', serif;
    display: block;
  }

  .tagline {
    font-size: 28px;
  }
}

#reasons {
  @include outer-container;

  .reason {
    @include on-desktop() {
      @include span-columns(3);
      @include omega(4n);
    }
  }
}

#implementations {
  @include outer-container;

  .impl {
    @include on-desktop() {
      @include span-columns(6);
      @include omega(3n); /* Why does this not work at 2n? */
    }
    @include on-mobile() {
      @include span-columns(12);
    }

    .impl-inner {
      border: 1px solid #ccc;
      margin: 10px 0;
      padding: 15px;
      @include border-radius(5px);

      .name {
        //font-size: 22px;
      }

      .fullname {
        //font-size: 85%;
        color: #333;
        font-style: italic;
        margin-left: 25px;
      }

      hr {
        margin: 3px;
        color: #eee;
      }
    }
  }
}
