/* Global style */

body {
  font-family: $text-font;
}

nav {
  background: $white;

  ul {
    li {
      text-transform: uppercase;
    }
  }
}

footer {
  background: $blue;
  height: 230px;
  color: $white;

  a {
    color: #C4D9FD !important;
  }

  .copy {
    font-size: 0.8em;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

a {
  text-decoration: none;

  &:link {
    color: $blue;
  }

  &:visited {
    color: $blue;
  }

  &:hover {
    color: $blue;
  }
}
