/* Home page style */

.home {
  header {
    //@include radial-gradient(ellipse farthest-side at 100% 100% , #00b2d0 10%, #6bd1c2 120%);
    background: $blue;
    color: $header-text-color;
    font-family: $home-title-font;
  }
}
