---
---

@charset 'UTF-8';

@import 'variables';

@import 'utils/fonts';
@import 'utils/normalize';
@import 'utils/reset';
@import 'utils/mixins';

@import 'components/standard-text';
@import 'components/navbar';
@import 'components/big-header';
@import 'components/footer';

main.books {
    > ul {
        margin: 0 auto;
        width: 80%;

        list-style-type: none;

        > li {
            @include flexbox();
            @include flex-direction(row);
            @include align-items(flex-start);

            padding: 100px 0;

            .cover {
                $width: 30vw;
                min-width: $width;
                max-width: $width;

                img {
                    width: 100%;
                }
            }

            main {
                padding-left: 50px;

                h2 {
                    font-family: $serif-1-family;
                    font-size: 46px;
                    color: $black;

                    padding-bottom: 5px;
                    border-bottom: 1px solid #c1c1c1;
                }

                .metadata {
                    font-family: $sans-serif-1-family;
                    font-size: 20px;

                    padding: 10px 0;

                    font-style: italic;
                    color: #a7a7a7;
                }

                article {
                    @extend %standard-text;

                    margin-top: 50px;

                    .links {
                        list-style-type: none;
                        margin-top: 30px;
                        padding: 0;

                        li {
                            display: inline-block;
                            margin: 10px;
                            padding: 5px;

                            img {
                                $width: 150px;
                                min-width: $width;
                                max-width: $width;
                            }

                            // Animation

                            @include box-shadow(none);

                            @include transition(box-shadow 0.3s ease-in-out 0s);

                            &:hover {
                                @include box-shadow(0 5px 10px #d9d9d9);
                            }
                        }
                    }
                }
            }
        }
    }
}
