---
---

@charset 'UTF-8';

@import 'utils/fonts';
@import 'utils/normalize';
@import 'utils/reset';
@import 'utils/mixins';

@import 'variables';

@import 'components/standard-text';
@import 'components/navbar';
@import 'components/big-header';
@import 'components/footer';

main.books {
    > ul {
        margin: 0 auto;
        width: 80%;

        list-style-type: none;

        li {
            @include flexbox();
            @include flex-direction(row);
            @include align-items(flex-start);

            margin: 200px 0;

            img {
                min-width: 550px;
                max-width: 550px;
            }

            main {
                padding-left: 50px;

                h2 {
                    font-family: 'Lusitana', serif;
                    font-size: 46px;
                    color: $black;

                    padding-bottom: 5px;
                    border-bottom: 1px solid $black;
                }

                article {
                    @extend %standard-text;

                    margin-top: 50px;
                }
            }
        }
    }
}
