---
---

@charset 'UTF-8';

@use 'variables' as *;

@use 'utils/fonts';
@use 'utils/normalize';
@use 'utils/reset';
@use 'utils/mixins' as *;

@use 'components/standard-text' as *;
@use 'components/navbar';
@use 'components/big-header';
@use 'components/footer';
@use 'components/page';
