---
---

@charset 'UTF-8';

@import 'variables';

@import 'utils/fonts';
@import 'utils/normalize';
@import 'utils/reset';
@import 'utils/mixins';

@import 'components/navbar';
@import 'components/standard-text';
@import 'components/big-header';
@import 'components/footer';
@import 'components/hover-underline';
@import 'components/highlight';
@import 'components/window';


main.landing {
    $h1-size: 7em;
    $bigger-h2-size: 4em;
    $h2-size: 3em;
    $text-size: 1.3em;

    h1, h2 {
        font-family: $serif-1-family;
        font-weight: normal;
    }

    header.hero {
        h1 {
            font-size: $h1-size;
            text-align: center;
        }
    }

    .features {
        .row {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(space-around);
            @include align-items(stretch);
        }

        .extensible {
            @extend %standard-text;
            margin: 80px 0;

            h2 {
                font-size: $h2-size;
                text-align: center;
            }

            .desc, .sample {
                @include flexbox();
                @include flex-direction(column);
                @include align-items(center);
                @include justify-content(center);
            }

            .desc {
                flex: 3;

                blockquote {
                    width: 75%;
                    font-size: $text-size;
                }
            }

            .sample {
                padding: 30px 70px;
                flex: 2;

                .window {
                    display: inline-block;

                    pre {
                        margin: 0;
                        padding: 25px;
                        font-size: 1em;
                    }
                }
            }
        }

        .stable {
            @include background-image-overlay('/assets/img/landing/mountain.jpg', rgba(0, 0, 0, 0.60));

            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);

            @extend %standard-text;
            color: white;
            height: 100vh;

            .text {
                margin: 250px 0;
                width: 40%;

                h2 {
                    font-size: $bigger-h2-size;
                    text-align: center;
                    margin-bottom: 10px;
                }

                p {
                    font-family: $serif-1-family;
                    font-size: $text-size;
                    line-height: 1.5;

                    a {
                        color: white;
                        // Fake underline
                        border-bottom: 1px solid rgba(255, 255, 255, 0.40);
                    }
                }
            }
        }

        .paradigm {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(space-around);
            @include align-items(stretch);

            @extend %standard-text;

            margin: 80px 0;

            h2 {
                font-size: $h2-size;
            }

            .box {
                flex: 1;
                @include flexbox();
                @include flex-direction(column);
                @include align-items(center);
                padding-top: 30px;
                padding-bottom: 50px;

                &:first-child {
                    border-right: 1px solid #f3f3f3;
                }

                .desc {
                    width: 80%;
                    text-align: center;
                    font-size: $text-size;
                }
            }

            .fp, .oop {
                pre {
                    margin-top: 50px;
                    padding: 0;
                    font-size: 20px;
                }
            }
        }

        .fast {
            @include background-image-overlay('/assets/img/landing/fast.jpg', rgba(0, 0, 0, 0.60));

            @include flexbox();
            @include flex-direction(column);
            @include align-items(center);
            padding: 100px 0;
            @extend %standard-text;

            h2 {
                font-size: $h2-size;
                color: white;
                margin: 0;
                padding-bottom: 25px;
            }

            .desc {
                color: white;
                padding-top: 25px;

                a {
                    color: white;
                    text-decoration: underline;
                }
            }

            // Chart style
            .ct-chart {
                height: 70%;
                width: 40%;

                .ct-series {
                    .ct-bar {
                        stroke-width: 10%;
                    }

                    &:nth-child(1) {
                        .ct-bar {
                            stroke: #CC342D;
                        }
                    }

                    &:nth-child(2) {
                        .ct-bar {
                            stroke: #43853d;
                        }
                    }

                    &:nth-child(3) {
                        .ct-bar {
                            stroke: $blue;
                        }
                    }
                }

                .ct-label {
                    font-family: $sans-serif-1-family;
                    color: white;

                    &.ct-horizontal {
                        font-size: 30px;
                    }

                    &.ct-vertical {
                        font-size: 13px;
                    }
                }
            }
        }

        .tools {
            margin: 100px 0;
            padding: 0 100px;

            .desc {
                flex: 6;
                @extend %standard-text;

                h2 {
                    font-size: $h2-size;
                }

                p {
                    padding-right: 70px;
                }
            }

            .device-wrapper {
                flex: 4;

                .device-mockup {
                    width: 100%;

                    .screen {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .testimonials {
        padding: 70px 0;
        @extend %standard-text;

        $shadow-color: rgba(0, 0, 0, 0.10);
        @include box-shadow(inset 0 60px 100px -40px $shadow-color,
                            inset 0 -60px 100px -40px $shadow-color);

        ul {
            list-style-type: none;
            $shadow-color: rgba(0,0,0,0.20);

            li {
                display: block;
                width: 80%;
                margin: 50px auto;
                padding: 35px;

                @include flexbox();
                @include flex-direction(row);
                @include justify-content(space-between);
                @include align-items(stretch);

                @include box-shadow(0px 2px 4px 0px $shadow-color);

                .logo {
                    width: 25%;

                    @include flexbox();
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include align-items(center);

                    img {
                        display: block;
                        width: 80%;
                        margin: 0 auto;
                    }
                }

                .text-wrapper {
                    flex: 3;
                    border-left: 1px solid $shadow-color;

                    .text {
                        width: 75%;
                        margin: 0 auto;

                        blockquote {
                            .source {

                            }
                        }
                    }
                }
            }
        }

        > .text {
            font-size: 1.2em;
            text-align: center;

            margin: 30px 0;
        }
    }

    .start {
        height: 300px;
        background: $light-blue;

        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);

        a {
            font-family: $sans-serif-1-family;
            font-weight: 300;
            font-size: 72px;
            color: $white;

            text-decoration: none;
            padding: 10px 15px;

            @extend %hover-underline;
        }
    }
}
