---
---

@charset 'UTF-8';

@use 'variables' as *;

@use 'utils/fonts';
@use 'utils/normalize';
@use 'utils/reset';
@use 'utils/mixins' as *;

@use 'components/navbar';
@use 'components/standard-text' as *;
@use 'components/big-header';
@use 'components/footer';
@use 'components/hover-underline' as *;
@use 'components/highlight';
@use 'components/window';

%white-link-style {
    color: white;
    // Fake underline
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    transition: border-bottom-color 0.4s ease-in-out;

    &:hover {
        border-bottom-color: white;
    }
}

main.landing {
    $h1-size: 7em;
    $bigger-h2-size: 4em;
    $h2-size: 3em;
    $text-size: 1.2em;

    h1,
    h2 {
        font-family: $serif-1-family;
        font-weight: normal;
    }

    header.hero {
        h1 {
            text-align: center;

            @include on-medium-and-large() {
                font-size: $h1-size;
            }

            @include on-small() {
                font-size: 4em;
            }
        }
    }

    .features {
        .row {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(space-around);
            @include align-items(stretch);
        }

        .extensible {
            @extend %standard-text;
            margin: 80px 0;

            h2 {
                font-size: $h2-size;
                text-align: center;
            }

            .row {
                margin: 0 auto;
                margin-top: 30px;
                width: 80%;

                .desc,
                .sample {
                    @include flexbox();
                    @include flex-direction(column);
                    @include align-items(center);
                    @include justify-content(center);
                }

                .desc {
                    flex: 3;

                    blockquote {
                        font-size: $text-size;
                    }
                }

                .sample {
                    padding: 30px 70px;
                    flex: 2;

                    .window {
                        display: inline-block;

                        pre {
                            margin: 0;
                            padding: 25px 70px;
                            font-size: 1.1em;
                        }

                        @include on-small() {
                            .titlebar {
                                display: none;
                            }

                            .body {
                                border: none;
                            }

                            pre {
                                padding: 0;
                            }
                        }
                    }
                }

                @include on-small-and-medium() {
                    width: 90%;
                    @include flex-direction(column);

                    .sample {
                        padding: 0;
                        margin-top: 40px;
                    }
                }
            }
        }

        .stable {
            @include background-image-overlay(
                "/assets/img/landing/mountain.jpg",
                rgba(0, 0, 0, 0.6)
            );

            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);

            @extend %standard-text;
            color: white;

            .text {
                margin: 250px 0;
                width: 40%;

                h2 {
                    font-size: $bigger-h2-size;
                    text-align: center;
                    margin-bottom: 10px;
                }

                p {
                    font-family: $serif-1-family;
                    font-size: $text-size;
                    line-height: 1.5;

                    a {
                        @extend %white-link-style;
                    }
                }
            }

            @include on-small() {
                .text {
                    margin: 150px;
                    width: 80%;
                }
            }
        }

        .paradigm {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(space-around);
            @include align-items(stretch);

            @extend %standard-text;

            margin: 80px 0;

            h2 {
                font-size: $h2-size;
            }

            .box {
                flex: 1;
                @include flexbox();
                @include flex-direction(column);
                @include align-items(center);
                padding-top: 30px;
                padding-bottom: 50px;

                &:first-child {
                    border-right: 1px solid #f3f3f3;
                }

                .desc {
                    width: 60%;
                    margin: 0 auto;
                    text-align: justify;
                    font-size: $text-size;

                    @include on-small() {
                        text-align: left;
                    }
                }
            }

            .fp,
            .oop {
                pre {
                    margin-top: 50px;
                    padding: 0;
                    font-size: 20px;
                }
            }

            @include on-small-and-medium() {
                @include flex-direction(column);

                .box {
                    &:first-child {
                        border-right: none;
                    }
                }
            }
        }

        .fast {
            @include background-image-overlay(
                "/assets/img/landing/fast.jpg",
                rgba(0, 0, 0, 0.6)
            );

            @include flexbox();
            @include flex-direction(column);
            @include align-items(center);
            @extend %standard-text;

            h2 {
                font-size: $h2-size;
                color: white;
                margin: 0;
                padding-bottom: 25px;
            }

            .desc {
                color: white;
                padding-top: 25px;
                font-size: $text-size;

                a {
                    @extend %white-link-style;
                }
            }

            @include on-medium-and-large() {
                padding: 100px 0;

                .bench {
                    width: 60%;
                }
            }

            @include on-small() {
                padding: 30px 0;
                min-height: 100vh;
                @include justify-content(space-around);

                .desc {
                    width: 80%;
                    text-align: center;
                }

                .bench {
                    width: 90%;
                }
            }
        }

        .tools {
            margin: 100px 0;
            padding: 0 100px;

            @include on-small() {
                padding: 0 20px;
            }

            .desc {
                flex: 6;
                @extend %standard-text;

                h2 {
                    font-size: $h2-size;
                }

                p {
                    padding-right: 70px;
                    font-size: $text-size;
                }
            }

            .device-wrapper {
                flex: 4;

                .device-mockup {
                    width: 100%;

                    .screen {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            @include on-small-and-medium() {
                .row {
                    @include flex-direction(column);
                }

                .desc {
                    h2 {
                        text-align: center;
                    }

                    p {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    .testimonials {
        padding: 70px 0;
        @extend %standard-text;

        $shadow-color: rgba(0, 0, 0, 0.1);
        @include box-shadow(
            inset 0 60px 100px -40px $shadow-color,
            inset 0 -60px 100px -40px $shadow-color
        );

        ul {
            list-style-type: none;
            $shadow-color: rgba(0, 0, 0, 0.2);

            li {
                display: block;
                width: 80%;
                margin: 50px auto;
                padding: 35px;

                @include flexbox();
                @include justify-content(space-between);
                @include align-items(stretch);

                @include on-medium-and-large() {
                    @include box-shadow(0px 2px 4px 0px $shadow-color);
                }

                @include on-large() {
                    @include flex-direction(row);

                    .logo {
                        width: 25%;
                    }

                    .text-wrapper {
                        border-left: 1px solid $shadow-color;

                        flex: 3;

                        .text {
                            width: 75%;
                        }
                    }
                }

                @include on-small-and-medium() {
                    @include flex-direction(column);

                    .logo {
                        padding-bottom: 30px;
                    }

                    .text-wrapper {
                        border-top: 1px solid $shadow-color;
                        padding-top: 30px;

                        .text {
                            width: 90%;
                        }
                    }
                }

                @include on-small() {
                    width: 100%;
                    padding: 10px;
                }

                .logo {
                    @include flexbox();
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include align-items(center);

                    img {
                        display: block;
                        width: 80%;
                        margin: 0 auto;
                    }
                }

                .text-wrapper {
                    .text {
                        margin: 0 auto;
                        font-size: 1em;
                    }
                }
            }
        }

        > .text {
            font-size: 1em;
            text-align: center;

            margin: 30px 0;
        }
    }

    .start {
        height: 300px;
        background: $light-blue;

        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);

        a {
            font-family: $sans-serif-1-family;
            font-weight: 300;
            font-size: 72px;
            color: $white;

            text-decoration: none;
            padding: 10px 15px;

            @extend %hover-underline;
        }
    }

    @include on-small() {
        pre {
            code {
                font-size: 15px !important;
            }
        }
    }
}
