---
---

@charset 'UTF-8';

@import 'utils/fonts';
@import 'utils/normalize';
@import 'utils/reset';
@import 'utils/mixins';

@import 'variables';

@import 'components/navbar';
@import 'components/standard-text';
@import 'components/big-header';
@import 'components/footer';
@import 'components/hover-underline';
@import 'components/cover-video';


main.landing {
    .why {

    }

    .features {
        .fast {
            $height: 70vh;
            background: black;
            position: relative;
            height: $height;

            .homepage-hero-module {
                max-height: $height;
            }

            .chart {
                z-index: 100;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: $height;

                @include flexbox();
                @include flex-direction(column);
                @include justify-content(space-around);
                @include align-items(center);

                background: rgba(0, 0, 0, 0.60);

                h1 {
                    font-family: 'Lato', sans-serif;
                    font-size: 50px;
                    color: white;
                    margin: 0;
                }

                .desc {
                    @extend %standard-text;
                    color: white;

                    a {
                        color: white;
                        text-decoration: underline;
                    }
                }

                // Chart style
                .ct-chart {
                    z-index: 200;
                    height: 70%;
                    width: 40%;

                    .ct-series {
                        .ct-bar {
                            stroke-width: 10%;
                        }

                        &:nth-child(1) {
                            .ct-bar {
                                stroke: #CC342D;
                            }
                        }

                        &:nth-child(2) {
                            .ct-bar {
                                stroke: #43853d;
                            }
                        }

                        &:nth-child(3) {
                            .ct-bar {
                                stroke: $blue;
                            }
                        }
                    }

                    .ct-label {
                        font-family: 'Lato', sans-serif;
                        color: white;

                        &.ct-horizontal {
                            font-size: 30px;
                        }

                        &.ct-vertical {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .testimonials {
        padding: 70px 0;
        @extend %standard-text;

        $shadow-color: rgba(0, 0, 0, 0.10);
        @include box-shadow(inset 0 60px 100px -40px $shadow-color,
                            inset 0 -60px 100px -40px $shadow-color);

        ul {
            list-style-type: none;

            li {
                display: block;
                width: 80%;
                margin: 50px auto;
                padding: 35px;

                @include flexbox();
                @include flex-direction(row);
                @include justify-content(space-between);
                @include align-items(stretch);

                @include box-shadow(0px 2px 4px 0px rgba(0,0,0,0.20));

                .logo {
                    width: 25%;

                    @include flexbox();
                    @include flex-direction(column);
                    @include justify-content(center);
                    @include align-items(center);

                    img {
                        display: block;
                        width: 80%;
                        margin: 0 auto;
                    }
                }

                .text-wrapper {
                    flex: 3;
                    border-left: 1px solid $light-blue;

                    .text {
                        width: 75%;
                        margin: 0 auto;

                        blockquote {
                            .source {

                            }
                        }
                    }
                }
            }
        }

        > .text {
            font-size: 2em;
            text-align: center;

            margin: 30px 0;
        }
    }

    .start {
        height: 300px;
        background: $light-blue;

        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);

        a {
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 72px;
            color: $white;

            text-decoration: none;
            padding: 10px 15px;

            @extend %hover-underline;
        }
    }
}
