---
---

@charset 'UTF-8';

@import 'variables';

@import 'utils/fonts';
@import 'utils/normalize';
@import 'utils/reset';
@import 'utils/mixins';

@import 'components/standard-text';
@import 'components/highlight';

.learn {
    @include on-medium-and-large() {
        @include flexbox();
        @include flex-direction(row);
    }

    @include on-small() {
        width: 100vw;
    }

    aside {
        @include flexbox();
        @include flex-direction(column);

        font-family: $sans-serif-1-family;

        @include box-shadow(10px 0px 30px 1px rgba(209,209,209,1));
        border-right: 1px solid #ccc;
        background: rgba(0,0,0,0.02);

        @include on-medium-and-large() {
            width: 300px;
            height: 100%;
        }

        @include on-small() {
            width: 100%;
            height: auto;
        }

        .logo {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(center);
            padding: 27px 0;
            border-bottom: 1px solid #ccc;

            img {
                display: block;
                width: 70px;
                height: 70px;
            }
        }

        a {
            color: $blue;
            text-decoration: none;
        }

        .lists {
            flex: 1;
            background: white;

            padding: 25px;

            ul {
                h2 {
                    margin-top: 20px;
                    margin-bottom: 10px;
                }

                li {
                    list-style-type: none;
                    margin-left: 15px;
                }
            }
        }

        .copy {
            background: white;
            text-align: center;
            padding: 8px 0;

            font-size: 13px;
            font-family: 'PT Sans', sans-serif;
        }
    }

    article {
        width: 100%;
        padding: 45px 70px;
        overflow: auto;
        position: relative;

        h1, h2, h3, h4, h5, h6 {
            font-family: 'PT Sans', serif;
            font-weight: 400;
            color: $black;
        }

        header {
            width: 100%;

            h1 {
                font-size: 64px;
                margin: 0;
                margin-bottom: 10px;
                border-bottom: 1px solid #e7e7e7;
            }

            nav {
                a {
                    color: $blue;
                    text-decoration: none;
                }
            }
        }

        .content {
            margin-top: 40px;

            @extend %standard-text;
        }
    }
}
