---
---

@charset 'UTF-8';

@use 'variables' as *;

@use 'utils/fonts';
@use 'utils/normalize';
@use 'utils/reset';
@use 'utils/mixins' as *;
@use 'vendor/flexbox' as *;

@use 'components/standard-text' as *;
@use 'components/navbar';
@use 'components/big-header';
@use 'components/footer';
@use 'components/page';

main.news {
    header {
        height: 300px;
        background: $blue;

        .info-wrapper {
            width: 100%;
            height: 100%;

            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);

            .info {
                width: 70%;
                margin: 0 auto;

                @include on-small() {
                    margin-top: 80px;
                }

                font-family: $serif-1-family;
                color: white;

                h1 {
                    font-size: 3em;
                    border-bottom: 1px solid $light-blue;

                    margin-bottom: 10px;
                }

                .metadata {
                    font-size: 1.3em;

                    span {
                        padding: 0 10px;

                        &:first-child {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }

    > .content {
        min-height: 100vh;

        img {
            display: block;
            margin: 0 auto;
        }
    }
}

.news-list {
    li {
        list-style-type: none;

        &:not(:first-child) {
            margin-top: 90px;
        }

        h3 {
            a {
                text-decoration: none;
                font-size: 27px;
            }
        }

        .info {
            font-style: italic;
        }

        article {
        }
    }
}
