---
---

@charset 'UTF-8';

@import 'utils/fonts';
@import 'utils/normalize';
@import 'utils/reset';
@import 'utils/mixins';

@import 'variables';

@import 'components/navbar';
@import 'components/header';
@import 'components/footer';

/* Page style */

main.page {
    header {
        /* Header background images */
        &.community {
            background-image: url(/assets/img/header/community.jpg);
        }

        &.news {
            background-image: url(/assets/img/header/news.jpg);
        }

        &.books {
            background-image: url(/assets/img/header/books.jpg);
        }
    }

    .content {
        width: 60%;
        margin: 100px auto;
    }
}

/* News page style */

.news-list {

    li {
        list-style-type: none;

        &:not(:first-child) {
            margin-top: 90px;
        }

        h3 {
            a {
                color: $black;
                text-decoration: none;
                font-size: 27px;
            }
        }

        .info {
            font-style: italic;
        }

        article {

        }

        a {

        }
    }
}
