---
---

@charset 'UTF-8';

@use 'variables' as *;

@use 'utils/fonts';
@use 'utils/normalize';
@use 'utils/reset';
@use 'utils/mixins' as *;

@use 'components/standard-text' as *;
@use 'components/navbar';
@use 'components/footer';
@use 'components/big-header';
@use 'components/highlight';

$style-translucent: rgba(255, 255, 255, 0.11);

main.style {
    article {
        width: 60%;
        margin: 100px auto;

        @extend %standard-text;

        .toc {
            $indent-step: 40px;

            li {
                list-style-type: none;
            }

            .toc-h1 {
                margin-left: 0;
            }

            .toc-h2 {
                margin-left: $indent-step * 1;
            }

            .toc-h3 {
                margin-left: $indent-step * 2;
            }
        }
    }
}
