---
---

@charset 'UTF-8';

@import 'variables';
@import 'utils/fonts';
@import 'utils/normalize';
@import 'utils/reset';
@import 'utils/mixins';

@import 'components/standard-text';
@import 'components/navbar';
@import 'components/big-header';
@import 'components/footer';
@import 'components/gallery';
@import 'components/breadcrumbs';
@import 'components/image-overlay';

main.success {
    .content {
        .categories {
            ul {
                width: 100%;
                @include flexbox();
                @include flex-direction(row);
                @include flex-flow(wrap);

                li {
                    display: block;

                    overflow: hidden;
                    position: relative;

                    @include on-large() {
                        width: 25vw;
                        height: 25vw;
                    }

                    @include on-medium() {
                        width: 50vw;
                        height: 50vw;
                    }

                    @include on-small() {
                        width: 100vw;
                        height: 100vw;
                    }

                    z-index: 0;

                    img {
                        position: absolute;
                        text-align: center;
                        height: inherit;
                        z-index: 1;
                        min-width: 100%;
                    }

                    .text {
                        z-index: 10;
                        position: absolute;
                        width: 100%;
                        height: 100%;

                        @include flexbox();
                        @include flex-direction(row);
                        @include align-items(center);
                        @include justify-content(center);

                        background-color: rgba(1, 1, 1, 0.55);
                        transition: background-color .5s;

                        &:hover {
                            background-color: rgba(1, 1, 1, 0.30);
                        }

                        a {
                            text-align: center;
                            color: white;

                            font-family: 'PT Sans', sans-serif;
                            font-size: 36px;
                            font-weight: bold;
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    section.story {
        @extend %standard-text;

        &:last-child {
            margin-bottom: 100px;
        }

        h2 {
            margin-top: 100px;
            margin-left: 70px;

            @include on-small() {
                text-align: center;
                margin-left: 0;
            }
        }

        .row {
            @include flexbox();
            @include flex-direction(row);

            @include on-small-and-medium() {
                @include flex-direction(column);
            }
        }

        .desc {
            margin: 0 auto;
            width: 70%;

            &.no-center {
                margin: 0;
                width: 100%;
                padding: 140px;
            }
        }


        .video {
            padding: 40px;

            video {
                width: 100%;
            }
        }

        .image-overlay {
            font-size: 26px;
            margin: 70px 0;

            @include on-small() {
                min-height: 100vh;

                .background {
                    height: 100vh;

                    img {
                        height: 100%;
                    }
                }
            }

            blockquote {
                width: 60%;
                margin: 0 auto;
                color: white;

                a {
                    color: white;
                    text-decoration: underline;
                }
            }
        }

        .gallery {
            padding: 70px 0;
        }

        .tab-wrapper {
            margin: 50px 0;
            overflow: auto;
            width: 100%;
            min-height: 600px;

            $shadow-color: rgba(0, 0, 0, 0.10);
            @include box-shadow(inset 0 40px 60px -40px $shadow-color,
                                inset 0 -40px 60px -40px $shadow-color);

            .title {
                text-align: center;
                padding: 50px;
            }

            .tabs {
                width: 60%;
                margin: 50px auto;
                list-style-type: none;

                @include flexbox();
                @include flex-direction(row);
                @include justify-content(space-around);
                @include align-items(center);

                @include on-small() {
                    @include flex-direction(column);

                    li {
                        margin-top: 30px;
                    }
                }

                li {
                    display: block;
                    border: none;
                    background: transparent;
                    height: 120px;

                    img {
                        height: 100%;
                    }
                }
            }

            .tabs-content {
                width: 65%;
                margin: 50px auto;
                min-height: 300px;
                padding: 30px;

                background: white;
                border-radius: 4px;
                border: 1px solid rgba(0,0,0,.08);

                .tabs-pane {

                }
            }
        }
    }
}
