---
---

@charset 'UTF-8';

@import 'utils/fonts';
@import 'utils/normalize';
@import 'utils/reset';
@import 'utils/mixins';

@import 'variables';

@import 'components/navbar';
@import 'components/header';
@import 'components/footer';
@import 'components/gallery';
@import 'components/hero';

$lighter: rgba(66, 116, 201, 0.90); // #4274C9
$darker: rgba(45, 95, 180, 0.95); // #2D5FB4

main.success {
    header {
        @include linear-gradient(bottom, $lighter, $darker);
        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);

        .background {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            z-index: -10;
        }
    }

    .content {
        .categories {
            ul {
                width: 100%;
                @include flexbox();
                @include flex-direction(row);
                @include flex-flow(wrap);

                li {
                    display: block;

                    width: 25vw;
                    height: 25vw;
                    overflow: hidden;
                    position: relative;

                    z-index: 0;

                    img {
                        position: absolute;
                        text-align: center;
                        height: inherit;
                        z-index: 1;
                        min-width: 100%;
                    }

                    .text {
                        z-index: 10;
                        position: absolute;
                        width: 100%;
                        height: 100%;

                        @include flexbox();
                        @include flex-direction(row);
                        @include align-items(center);
                        @include justify-content(center);

                        background-color: rgba(1, 1, 1, 0.55);
                        transition: background-color .5s;

                        &:hover {
                            background-color: rgba(1, 1, 1, 0.30);
                        }

                        a {
                            text-align: center;
                            color: white;

                            font-family: 'PT Sans', sans-serif;
                            font-size: 36px;
                            font-weight: bold;
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    section {
        @include flexbox();
        @include flex-direction(column);

        h3 {
            font-size: 36px;
        }

        article {
            padding: 50px;
            color: white;
        }

        .text {
            font-family: 'Lato', sans-serif;

            h2 {
                font-size: 46px;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 15px;
            }

            a {
                color: inherit;
                font-weight: bold;
                text-decoration: underline;
            }

            blockquote {
                width: 60%;
                margin: 0 auto;
                font-size: 26px;
                text-align: justify;
                font-style: italic;
                color: white;

                .source {
                    margin-top: 20px;
                    text-align: right;
                    font-style: italic;

                    &::before {
                        content: '—';
                    }
                }
            }
        }

        .row {
            @include flexbox();
            @include flex-direction(row);
            @include justify-content(space-between);
        }

        dl {
            dt {
                font-weight: bold;
            }

            dd {
                padding-left: 40px;
            }
        }

        &.piano {
            @include linear-gradient(to top, #1A2980 , #26D0CE);
        }

        &.raytheon {
            @include linear-gradient(to left, #a73737 , #7a2828);
        }

        &.maxima, &.acl2, &.axiom {
            article {
                color: $black;
            }
        }

        &.pgloader {
            article {
                color: $black;
            }
        }

        &.somewrite {
            @include linear-gradient(to bottom, #32a7db , #fff);
        }
    }
}

/* Tabs */

.tab-gallery {
    width: 100%;
    min-height: 600px;
    @include linear-gradient(to left, #ECE9E6 , #FFFFFF);

    .title {
        text-align: center;
        padding: 50px;
    }

    .tabs {
        width: 65%;
        margin: 0 auto;

        @include flexbox();
        @include flex-direction(row);
        @include justify-content(space-around);
        @include align-items(center);

        button {
            display: block;
            border: none;
            background: transparent;

            img {
                max-width: 120px;
            }
        }
    }

    .tabs-content {
        width: 65%;
        margin: 50px auto;

        .tabs-pane {

        }
    }
}
