---
---

@charset 'UTF-8';

@use 'variables' as *;

@use 'utils/fonts';
@use 'utils/normalize';
@use 'utils/reset';
@use 'utils/mixins' as *;

.unfinished {
    font-family: 'PT Sans';
    font-size: 18px;

    @include flexbox();
    @include flex-direction(row);
    @include align-items(center);
    @include justify-content(center);

    main {
        p {
            margin-bottom: 15px;
        }
    }
}
