/**
 * Inspired by highlight.js's "Tomorrow night" theme
 */
pre { white-space: pre; background-color: #1d1f21; border: 0px solid #ccc; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
pre code.hl-highlighted {white-space: pre; margin: 0; padding: 0; background: none; border: none; overflow-x: auto; font-size: 13px;}
code.hl-highlighted {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #f8f8f8; border: 1px solid #eaeaea; border-radius: 3px;}

code.hl-highlighted {color: #c5c8c6;}
code.hl-highlighted .function {color: #abc; color: #cba;}
code.hl-highlighted .function.known {color: #81a2be; color: #91b2ce;}
code.hl-highlighted .function.known.special {color: #ba7; font-weight: bold;}
code.hl-highlighted .keyword {color: #b299ab;}
code.hl-highlighted .keyword.known {color: #b294bb;}
code.hl-highlighted .symbol {color: #c9c;}
code.hl-highlighted .lambda-list {color: #9aa;}
code.hl-highlighted .number {color: #c76;}
code.hl-highlighted .variable.known {color: #9dd;}
code.hl-highlighted .variable.global {color: #aaa;}
code.hl-highlighted .variable.constant {color: #a77;}
code.hl-highlighted .nil {color: #de935f;}
code.hl-highlighted .list {}

code.hl-highlighted .string, code.hl-highlighted .string * {color: #b5bd88 !important;}
code.hl-highlighted .comment,
code.hl-highlighted .comment *,
code.hl-highlighted .comment .string
code.hl-highlighted .comment .string * {color: #777 !important;}
code.hl-highlighted .string .comment {color: #b5bd88 !important;}

code.hl-highlighted .list.active {display: inline-block; color: #333; background: #aaa;}

