/**
 * Inspired by highlight.js's "Tomorrow night" theme
 */
pre { white-space: pre; background-color: #1d1f21; border: 0px solid #ccc; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
pre code.hl-highlighted {white-space: pre; margin: 0; padding: 0; background: none; border: none; overflow-x: auto; font-size: 13px;}
code.hl-highlighted {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; border: 1px solid #eaeaea; border-radius: 3px;}

code.hl-highlighted {color: #c5c8c6; color: #c9bf9f;}
code.hl-highlighted .function {color: #d9c382;}
code.hl-highlighted .function.known {color: #d9c382;}
code.hl-highlighted .function.known.special {color: #d9c382; font-weight: bold;}
code.hl-highlighted .keyword {color: #74b5ad;}
code.hl-highlighted .keyword.known {color: #91b2ce;}
code.hl-highlighted .symbol {color: #db919e;}
code.hl-highlighted .lambda-list {color: #86adad;}
code.hl-highlighted .number {color: #fa879c;}
code.hl-highlighted .variable.known {color: #db697e;}
code.hl-highlighted .variable.global {color: #96a646;}
code.hl-highlighted .variable.constant {color: #96a646;}
code.hl-highlighted .nil {color: #db919e; font-weight: bold;}
code.hl-highlighted .list {}

code.hl-highlighted .string, code.hl-highlighted .string * {color: #db7d8e !important;}
code.hl-highlighted .comment,
code.hl-highlighted .comment *,
code.hl-highlighted .comment .string
code.hl-highlighted .comment .string * {color: #777 !important;}
code.hl-highlighted .string .comment {color: #db7d8e !important;}

code.hl-highlighted .list.active {display: inline-block; color: #333; background: #aaa;}

