/* Mixins */

/* Flexbox */

@import 'vendor/flexbox';

/* Gradients */

@mixin linear-gradient($direction, $start-color, $end-color) {
    background-image: -o-linear-gradient($direction, $start-color, $end-color);
    background-image: -moz-linear-gradient($direction, $start-color, $end-color);
    background-image: -webkit-linear-gradient($direction, $start-color, $end-color);
    background-image: -ms-linear-gradient($direction, $start-color, $end-color);
    background-image: linear-gradient($direction, $start-color, $end-color);
}

/* Blur */

@mixin blur($size) {
    filter: blur($size);
    -webkit-filter: blur($size);
}

/* Shadow */

@mixin box-shadow($values) {
    box-shadow: $values;
    -webkit-box-shadow: $values;
    -moz-box-shadow: $values;
}
