/* Mixins */

/* Flexbox */

@import 'vendor/flexbox';

/* Gradients */

@mixin linear-gradient($direction, $start-color, $end-color) {
    background-image: -o-linear-gradient($direction, $start-color, $end-color);
    background-image: -moz-linear-gradient($direction, $start-color, $end-color);
    background-image: -webkit-linear-gradient($direction, $start-color, $end-color);
    background-image: -ms-linear-gradient($direction, $start-color, $end-color);
    background-image: linear-gradient($direction, $start-color, $end-color);
}

/* Blur */

@mixin blur($size) {
    filter: blur($size);
    -webkit-filter: blur($size);
}

/* Overlay */

@mixin background-image-overlay($image, $color) {
    background: linear-gradient($color, $color), url($image);
    background-position: center;
    background-size: cover;
}

/* Shadow */

@mixin box-shadow($values...) {
    box-shadow: $values;
    -webkit-box-shadow: $values;
    -moz-box-shadow: $values;
}

/* Animation */

@mixin transition($values) {
    -webkit-transition: $values;
    -moz-transition: $values;
    -o-transition: $values;
    -ms-transition: $values;
    transition: $values;
}

/* Border */

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-left-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

/* Responsive */

@mixin on-small() {
    @media (max-width: $small-breakpoint) {
        @content;
    }
}

@mixin on-medium() {
    @media (min-width: $small-breakpoint + 1) and (max-width: $medium-breakpoint) {
        @content;
    }
}

@mixin on-large() {
    @media (min-width: $medium-breakpoint + 1) {
        @content;
    }
}

@mixin on-small-and-medium() {
    @media (max-width: $medium-breakpoint) {
        @content;
    }
}

@mixin on-medium-and-large() {
    @media (min-width: $small-breakpoint + 1) {
        @content;
    }
}

@mixin disable-user-select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
