@import '../variables';

/* The things normalize doesn't do */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    overflow-x: hidden;
    font-size: $base-font-size;
}

*:focus {
    outline: none;
}
