/* Various values that are used in multiple places */

$heading-font: 'Open Sans', sans-serif;
$home-title-font: 'Julius Sans One', sans-serif;
$text-font: 'Poly', serif;

$mobile-size: 768px;
$desktop-size: $mobile-size + 1;

$column-count: 12;

// Color scheme
$blue: #2d5fb4;
$light-blue: #C4D9FD;
$white: #fff;

$navbar-height: 50px;

$header-text-color: $white;
