/* Wiki layout */

.wiki {
  width: 100%;

  .container {
    @include row();
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;

    aside {
      @include column(2);

      & > i {
        display: none;
      }

      ol {
        padding-left: 15px;
      }
    }

    article {
      @include column(8);
      margin-bottom: 80px;

      :first-child {
        margin-top: 0;
      }

      h2, h3, h4, h5, h6 {
        margin: $wiki-internal-margins;
      }

      p {
        margin: $wiki-internal-margins;
      }

      pre {
        margin: $wiki-internal-margins;
      }

      ul {
        padding-left: 25px;
      }

      dl {
        dd {
          padding-left: 25px;
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }

      figure {
        margin: 75px auto;
        width: 100%;

        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        figcaption {
          margin: 20px auto;
          width: 70%;
        }
      }
    }
  }
}
