/* Wiki layout */

.wiki {
  width: 100%;

  header {
    padding-left: 100px;

    ul {
      list-style-type: none;

      li {
        display: inline-block;
      }

      li+li:before {
        content: "\A0—\A0";
      }
    }
  }

  .container {
    @include row();
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;

    aside {
      @include column(2);

      & > i {
        display: none;
      }

      ol {
        padding-left: 15px;
      }
    }

    article {
      @include column(10);
      margin-bottom: 80px;
      $internal-margins: 15px 0;

      h1:first-child {
        margin-top: 0;
      }

      h2, h3, h4, h5, h6 {
        margin: $internal-margins;
      }

      p {
        margin: $internal-margins;
      }

      pre {
        margin: $internal-margins;
      }

      :not(pre) > code {
        font-family: 'Consolas', 'Liberation Mono', 'Courier' ,monospace;
        background-color: #F6F6F6;
        padding: 1px 2px;
        border: 1px solid #DDD;
        border-radius: 3px;
        font-size: 12pt;
      }

      ul {
        padding-left: 25px;
      }

      dl {
        dd {
          padding-left: 25px;
        }
      }

      figure {
        margin: 75px auto;
        width: 100%;

        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        figcaption {
          font-style: italic;
          margin: 0 auto;
          width: 70%;
        }
      }
    }
  }
}
