/* Wiki layout */

.wiki {
  width: 100%;

  header {
    padding-left: 100px;

    ul {
      list-style-type: none;

      li {
        display: inline-block;
      }

      li+li:before {
        content: "\A0—\A0";
      }
    }
  }

  .container {
    @include row();
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;

    aside {
      @include column(3);

      & > i {
        display: none;
      }

      ol {
        padding-left: 10px;
      }
    }

    article {
      @include column(9);
      margin-bottom: 80px;
      $internal-margins: 15px 0;

      h1:first-child {
        margin-top: 0;
      }

      h2, h3, h4, h5, h6 {
        margin: $internal-margins;
      }

      p {
        margin: $internal-margins;
      }

      pre {
        margin: $internal-margins;
      }

      ul {
        padding-left: 25px;
      }
    }
  }
}
