/* Wiki style */

.wiki {
  header {
    background: $wiki-header-background;
    height: 130px;
    padding-top: 20px;
    color: $wiki-header-text-color !important;

    a {
      color: $wiki-header-link-color !important;
    }

    h1 {
      margin-top: 0;
    }
  }

  p {
    text-align: justify;
  }

  blockquote {
    font-style: italic;
    border-left: $wiki-blockquote-border;
    padding-left: 25px;
  }
}
