/* Wiki style */

.wiki {
  header {
    height: 130px;
    padding-left: 100px;
    padding-top: 20px;

    color: $wiki-header-text-color !important;
    background: $wiki-header-background;

    a {
      color: $wiki-header-link-color !important;
    }

    h1 {
      margin-top: 0;
    }

    ul {
      list-style-type: none;

      li {
        display: inline-block;
      }

      li+li:before {
        content: "\A0—\A0";
      }
    }
  }

  article {

    :not(pre) > code {
      font-family: 'Consolas', 'Liberation Mono', 'Courier' ,monospace;
      background-color: #F6F6F6;
      padding: 1px 2px;
      border: 1px solid #DDD;
      border-radius: 3px;
      font-size: 12pt;
    }

    p {
      text-align: justify;
    }

    blockquote {
      font-style: italic;
      border-left: $wiki-blockquote-border;
      padding-left: 25px;
    }

    figure {
      figcaption {
        font-style: italic;
      }
    }
  }
}
