.gallery {
    ul {
        @include flexbox();
        @include flex-direction(row);
        @include flex-flow(wrap);
        @include justify-content(center);

        margin: 30px auto;

        li {
            display: block;
            margin: 30px;

            img {
                height: 200px;
            }
        }
    }
}
