.gallery {
    overflow: hidden;
    min-width: 100%;
    @include flexbox();
    @include flex-direction(row);

    ul {
        @include flexbox();
        @include flex-direction(row);
        margin: 30px auto;

        li {
            display: block;

            &:not(:first-child) {
                margin-left: 40px;
            }

            img {
                height: 200px;
            }
        }
    }
}
