//colors
$color_alpine_approx: #a93;
$color_forest_green_approx: #2a3;
$color_gumbo_approx: #7aa;
$color_pelorous_approx: #4bb;
$color_deluge_approx: #75a;
$copper_rose: #966;
$color_red_berry_approx: #800;
$color_fuchsia_pink_approx: #c3c;
$color_vivid_violet_approx: #939;
$color_jacksons_purple_approx: #229;
$red: #f00;
$color_silver_chalice_approx: #aaa;
$color_teal_approx: #088;
$color_ice_cold_approx: #aefff7;

code.hl-highlighted {
    .keyword {
	color: $color_gumbo_approx;
    }

    .symbol {
	color: $color_deluge_approx;
    }

    .lambda-list {
	color: $copper_rose;
    }

    .number {
	color: $color_red_berry_approx;
    }

    .variable {
	&.known {
	    color: $color_fuchsia_pink_approx;
	}

	&.global {
	    color: $color_vivid_violet_approx;
	}

	&.constant {
	    color: $color_jacksons_purple_approx;
	}
    }

    .nil {
	color: $red;
    }

    .comment {
	color: $color_silver_chalice_approx !important;

	* {
	    color: $color_silver_chalice_approx !important;
	}

	.string {
	    color: $color_silver_chalice_approx !important;
	}

    }

    .string {
	color: $color_teal_approx !important;

	* {
	    color: $color_teal_approx !important;
	}
    }

    .function.known {
	color: $color_alpine_approx;

	&.special {
	    color: $color_forest_green_approx;
	}

    }

    .list.active {
	display: inline-block;
	background: $color_ice_cold_approx;
    }
}
