@use '../utils/mixins' as *;
@use '../vendor/flexbox' as *;

.image-overlay {
    width: 100%;
    position: relative;

    .background {
        z-index: 9;

        img {
            display: block;
            min-height: 100%;
        }
    }

    .content-wrapper {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 10;

        @include flexbox();
        @include flex-direction(row);
        @include justify-content(center);
        @include align-items(center);
    }
}
