@use '../variables' as *;
@use '../utils/mixins' as *;
@use '../vendor/flexbox' as *;

/* Navbar style */

nav {
    position: absolute;
    width: 100%;

    .content {
        width: 80%;
        height: 90px;
        margin: 0 auto;

        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        @include flex-direction(row);

        @include on-small() {
            height: auto;
            margin-top: 15px;
            @include flex-direction(column);

            .brand {
                margin-bottom: 15px;
            }
        }

        .brand {
            img {
                height: 40px;
                width: 40px;
            }
        }

        ul {
            list-style-type: none;

            @include flexbox();
            @include flex-direction(row);

            @include on-small() {
                @include flex-direction(column);
                @include align-items(center);
            }

            li {
                @include on-medium-and-large() {
                    &:not(:last-child) {
                        margin-right: 30px;
                    }
                }

                a {
                    font-family: 'PT Sans', sans-serif;
                    font-size: 18px;
                    padding: 10px 0;

                    text-decoration: none;
                    color: $white;

                    @include on-medium-and-large() {
                        border-bottom: 2px solid transparent;

                        @include transition(border-bottom 0.25s ease);

                        &:hover {
                            border-bottom: 2px solid white;
                        }
                    }
                }
            }
        }
    }
}
