/* Navbar style */

nav {
    position: absolute;
    width: 100%;

    .content {
        width: 80%;
        height: 90px;
        margin: 0 auto;

        @include flexbox();
        @include flex-direction(row);
        @include align-items(center);
        @include justify-content(space-between);

        .brand {
            img {
                height: 40px;
                width: 40px;
            }
        }

        ul {
            @include flexbox();
            @include flex-direction(row);

            list-style-type: none;

            li {
                &:not(:last-child) {
                    margin-right: 30px;
                }

                a {
                    font-family: 'PT Sans', sans-serif;
                    font-size: 18px;
                    padding: 10px 0;

                    text-decoration: none;
                    color: $white;

                    border-bottom: 2px solid transparent;

                    @include transition(border-bottom 0.25s ease);

                    &:hover {
                        border-bottom: 2px solid white;
                    }
                }
            }
        }
    }
}
