%standard-text {
    /* Variables */
    $paragraph-indent: 0;
    $list-indent: 30px;
    $text-font-size: 20px;
    $code-font-size: 21px;
    $code-font: 'Inconsolata', monospace;

    /* Fonts */

    color: $black;

    font-family: 'Lato', sans-serif;
    font-size: $text-font-size;

    :not(pre) > code {
        font-family: $code-font;
        font-size: $code-font-size;
        font-weight: 400px;
        color: #6f6f6f;
    }

    /* Space between elements */

    p, ul, ol, dl, h1, h2, h3, h4, h5, h6, pre, dd {
        margin-bottom: 16px;
    }

    /* Heading style */

    h1 {
        font-size: 3.157em;
        padding-bottom: 10px;
    }

    h2 {
        font-size: 2.369em;
        padding-bottom: 9px;
    }

    h3 {
        font-size: 1.777em;
        padding-bottom: 7px;
    }

    h4 {
        font-size: 1.333em;
        padding-bottom: 4px;
    }

    /* Other elements */

    a {
        text-decoration: none;
        color: $blue;

        &:hover {
            color: $light-blue;
        }
    }

    p {
        text-align: justify;
        text-indent: $paragraph-indent;
    }

    blockquote {
        padding: 0 40px;
        font-style: italic;
    }

    /* List style */

    ul, ol {
        padding-left: $list-indent;
    }

    dl {
        dt {
            margin-bottom: 5px;
        }

        dd {
            padding-left: $list-indent;
        }
    }

    /* Code */

    pre {
        border: 0;
        background: white;

        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #d9d9d9;

        padding: 25px 100px;
        margin: 25px 0;

        code {
            font-family: $code-font;
        }
    }
}
