/* Blue-colors theme */

// Fonts

@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic');
@import url('http://fonts.googleapis.com/css?family=Merriweather:300,400,300italic');

$heading-font: 'Merriweather', serif;
$home-title-font: 'Merriweather', serif;
$text-font: 'Source Sans Pro', sans-serif;

// Colors

$blue: #2d5fb4;
$light-blue: #C4D9FD;
$white: #fff;

$navbar-background: $white;

$footer-background: $blue;
$footer-text-color: $white;
$footer-link-color: $light-blue;

$link-color: $blue;
$link-visited-color: $link-color;
$link-hover-color: $link-color;

$home-header-background: $blue;
$home-header-text-color: $white;

$wiki-header-background: $blue;
$wiki-header-text-color: $white;

$wiki-header-link-color: $white;
