<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="learn">
    <aside>
      <div class="logo">
        <a href="/">
          <img src="/assets/img/logo/blue.png">
        </a>
      </div>
      <div class="lists">
        <a href="/learn/getting-started">Getting Started</a>
        <ul class="tutorials">
          <h2>Tutorials</h2>
          {% for post in site.categories['learn'] reversed %}
            {% if post.kind == 'tutorial' %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="guides">
          <h2>Guides</h2>
          {% for post in site.categories['learn'] reversed %}
            {% if post.kind == 'guide' %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="copy">
        {% include copy.html %}
      </div>
    </aside>
    <article>
      <header>
        <h1>{{ page.title }}</h1>
        {% if page.kind == 'tutorial' %}
          <nav>
            {% assign has_previous=page.previous.url and page.previous.url contains '/learn/' %}
            {% assign has_next=page.next.url and page.next.url contains '/learn/' %}
            {% if has_previous %}
              <a href="{{ page.previous.url }}">
                « {{ page.previous.title }}
              </a>
            {% endif %}
            {% if has_previous and has_next %}
              &mdash;
            {% endif %}
            {% if has_next %}
              <a href="{{ page.next.url }}">
                {{ page.next.title }} »
              </a>
            {% endif %}
          </nav>
        {% endif %}
      </header>
      <div class="content">
        {{ content }}
      </div>
    </article>
    {% include highlight.html %}
  </body>
</html>
