<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="wiki-container">
      <h1>{{ page.title }}</h1>
      <hr>
      <aside id="toc"></aside>
      <article>
        {{ content }}
      </article>
    </div>
    <script>
     $(document).ready(function() {
       /* Highlight code */
       hljs.initHighlightingOnLoad();
       /* Create a table of contents */
       $('aside#toc').toc({
         'selectors': 'h1,h2,h3', // Only detect headers down to three levels
         'container': 'article',
         'smoothScrolling': true,
       });
     });
    </script>
    {% include footer.html %}
  </body>
</html>
