/* A simple grid system */

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin row() {
  @include clearfix;
  width: 100%;
}

@mixin column($width) {
  float: left;
  width: 100% / $column-count * $width;
}
