/* Layout of the navigation bar */

nav {
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;

  li {
    text-align: center;
  }

  .brand {
    float: left;
    width: 100px;
    text-align: center;
  }

  ul {
    float: right;
    list-style-type: none;

    li {
      display: inline-block;
      padding-right: 15px;
    }
  }
}
