/* Layout of global elements */

html, body {
  height: 100%;
}

main {
  min-height: 100%;
}

/* Global elements */

nav {
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;

  li {
    text-align: center;
  }

  .brand {
    float: left;
    width: 100px;
    text-align: center;
  }

  ul {
    float: right;
    list-style-type: none;

    li {
      display: inline-block;
      padding-right: 15px;
    }
  }
}

footer {
  width: 100%;

  .links, .copy {
    width: 100%;
    padding: 25px 15px;
  }

  .links {
    @include row();

    ul {
      @include column(1);
      list-style-type: none;
    }
  }
}
