/* Home page layout */

.home {
  header {
    height: 300px;
    text-align: center;

    .title {
      padding-top: 100px;
      font-size: 3em;
    }

    .tagline {
    }
  }

  section {
    width: 100%;

    h1 {
      text-align: center;
    }
  }

  .why {
    .reasons {
      @include row();
      width: 80%;
      margin: 0 auto;

      .reason {
        @include column(3);
        height: 150px;
        padding: 15px;
      }
    }
  }
}
